:root{
    --color-opinion:rgb(186, 26, 230);
}

#categories_25,#categories_26,#categories_27,#categories_34,#categories_28,#categories_29,#categories_30,
#categories_31,#categories_32,#categories_33,#categories_35,#categories_36,#categories_37,#categories_38,
#categories_39,#categories_40,#categories_41,#categories_42,#categories_43,#categories_44,#categories_45,#categories_46{
    color: var(--color-opinion) !important;
}





@media (min-width: 375px) and (max-width:767px) {
    body {
        font-size: 16px !important;
        
    }

    .card1text h5 {
        font-size: 18px !important;
    }
    .card1text p {
        font-size: 15px !important;
    }
    .card1text {
        padding-left: 25px !important;
        margin: 0px !important;
    }
    .card1img  {
        padding-top: 10px;
    }
    .card2{
        height: auto !important;
    }
    .cardCercle{
        height: auto !important;
    }
    .cardCercle2 img{
        display: flex !important;
        justify-content: center !important;
        margin-top: 0px !important;
      
    }
    .card3{
        height: auto !important;
    }
}
.cardCercle2 img{
    display: flex !important;
    justify-content: center !important;
    margin-top: 0px !important;
  
}

@media (min-width: 768px) and (max-width: 991px) {
    .img_2_rond{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        margin-top: 80px;
    }
}
@media (min-width: 992px) and (max-width: 1399px) {
    .img_2_rond{
        width: 140px;
        height: 140px;
        margin-left: 0px;
        margin-top: 80px;
    }
}