.article-content img {
    object-fit: cover;
    width: 100%;
    height: 560px;    /* Garde le ratio d'aspect de l'image */
}
/* .article-content{
    border-left: 1px solid #DCDCDC;
    
} */

figure{
    width: 100% !important;
}
#ez-toc-container{
display: none;
}

.container-article{
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

/*Buton share */
.share-button {
    padding: 2px 10px;
    background-color:#524e4eb5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
}
.share-button:hover {
    background-color: #312e2e;
}
.share-button i {
    margin-right: 5px;
    font-size: 24px
   
}
p span{
    font-size: 23px !important;
   
   
}
span{
    font-size: 23px !important;
}
p{
    font-size: 23px !important;
}
.commentForm {
    display: none;
    margin-top: 20px;
  }
  #responseMessage {
    margin-top: 10px;
    font-weight: bold;
  }
 




  .comments-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  /* Titre des commentaires */
  .comments-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  /* Chaque commentaire */
  .comment {
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
  }

  /* Avatar */
  .comment-avatar {
    flex-shrink: 0;
    margin-right: 15px;
  }

  .comment-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* Détails du commentaire */
  .comment-content {
    flex-grow: 1;
  }

  .comment-author {
    font-weight: bold;
    color: #555;
  }

  .comment-date {
    font-size: 0.9em;
    color: #888;
    margin-top: 3px;
  }

  .comment-text {
    margin-top: 10px;
    line-height: 1.6;
    color: #444;
  }

  /* Style pour le dernier commentaire sans bordure */
  .comment:last-child {
    border-bottom: none;
  }
  .responsive-image {
   
    width: 20rem !important; /* Adapte l'image à la largeur du conteneur */
    height: 14rem !important; /* Maintient le ratio d'aspect */
    max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
    max-height: max-content;
}
  #tagBtn{ 
    display: inline-block; /* Ajuste la taille à son contenu */
    white-space: nowrap;  /* Empêche le texte de se couper sur plusieurs lignes */
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 10px;
}
#tagBtn:hover {
    background-color: #ffffff;
    color: #000000;
    
}
.podcast-content{
  height: 12rem !important;
}

.podcast-content-lect{
  height: 12rem !important;
  background-color: #ffffff !important;
  color: #000000 !important;
}
#podcast-lect{
  background: #ffffff !important;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 7px;

  /* width: 0px; 4 cards par ligne avec marge */

  /* width: calc(25% - 30px); 4 cards par ligne avec marge */
  height: 390px;
}
.imgPod{
  
  height: 227px ;
  width: 227px;
}
.link-Podcastart{
  text-decoration: none;
  color: #fff;
}
.link-Podcastart:hover{
  text-decoration: underline;
}



@media (min-width: 412px) and (max-width:767px) {
  body {
      /* background-color: #1a4a98; */
  }

  .responsive-image {
    width: 100% !important; /* Adapte l'image à la largeur du conteneur */
    height: 100%; /* Maintient le ratio d'aspect */
    max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
    max-height: max-content;
}

  .divleft{
    order: 2;
  }

  .counterleft{
    background-color: #4f4f50 !important;
    order: -1;
  }
  .counterleft span{
    font-size: 15px !important;
    /* text-align: left !important; */
  }
  .counterright{
    background-color: #4f4f50 !important;
    order: -1;
  }
  .counterright span{
    font-size: 15px !important;
    /* text-align: left !important; */
  }
  .divcontrole{
    padding: 0px !important;
    margin: 0px !important;
    width: 96% !important;
  }
  .divcontent{
    margin: 0px !important;
    margin-top: 6rem !important;
  }
  .divcontent h4{
    font-size: 18px !important;
  }
  .divimgpod img{
    width: 100% !important;
    height: 15rem!important;
  }


  .pubPodcast{
    display: none;
  }
  /* .podcast-image img{
    width: 23.3rem;
  } */
 
}

@media (min-width: 290px) and (max-width:411px) {
  body {
      
      /* background-color: #6b0f0f; */
  }
  .responsive-image {
    
    width: 100% !important; /* Adapte l'image à la largeur du conteneur */
    height: 100%; /* Maintient le ratio d'aspect */
    max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
    max-height: max-content;
}

  .divleft{
    order: 2;
  }

  .counterleft{
    background-color: #4f4f50 !important;
    order: -1;
  }
  .counterleft span{
    font-size: 15px !important;
    /* text-align: left !important; */
  }
  .counterright{
    background-color: #4f4f50 !important;
    order: -1;
  }
  .counterright span{
    font-size: 15px !important;
    /* text-align: left !important; */
  }
  .divcontrole{
    padding: 0px !important;
    margin: 0px !important;
    width: 94% !important;
  }
  .divcontent{
    margin: 0px !important;
    margin-top: 6rem !important;
  }
  .divcontent h4{
    font-size: 18px !important;
  }
  .divimgpod img{
    width: 100% !important;
    height: 15rem!important;
  }

  .custom-buttons > button {
    display: inline-block !important;
    /* background-color: #4f4f50 !important; */
    white-space: wrap !important;  /* Empêche le texte de se couper sur plusieurs lignes */
    flex: 1 1 calc(50% - 8px) !important; /* Deux boutons par ligne avec espace */
    max-width: calc(50% - 8px) !important; 
    font-size: 12px;
}
  .pubPodcast{
    display: none;
  }
  /* .podcast-image img{
    width: 15.8rem;
  } */
 
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    /* background-color: #1a4a98; */
}

.responsive-image {
  width: 100% !important; /* Adapte l'image à la largeur du conteneur */
  height: 100%; /* Maintient le ratio d'aspect */
  max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
  max-height: max-content;
}

.divleft{
  order: 2;
}

.counterleft{
  background-color: #4f4f50 !important;
  order: -1;
}
.counterleft span{
  font-size: 15px !important;
  /* text-align: left !important; */
}
.counterright{
  background-color: #4f4f50 !important;
  order: -1;
}
.counterright span{
  font-size: 15px !important;
  /* text-align: left !important; */
}
.divcontrole{
  padding: 0px !important;
  margin: 0px !important;
  max-width: 92% !important;
}
.divcontent{
  margin: 0px !important;
  margin-top: 6rem !important;
}
.divcontent h4{
  font-size: 18px !important;
}
.divimgpod img{
  width: 100% !important;
  height: 15rem!important;
}


.pubPodcast{
  display: none;
}
/* .podcast-image img{
  width: 23.3rem;
} */

}

@media (min-width: 992px) and (max-width: 1399px) {
  body{
    /* background-color: aqua; */
  }
  .divcontrole{
    padding: 0px !important;
    margin: 0px !important;
    width: 50% !important;
  }
}

